.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;

      span {
        margin-top: 5px;
        margin-left: 10px;
      }
    }

    .input-group {
      padding: 2rem;

      span {
        color: #9C27B0;
      }

      .helper {
        margin-top: 3px;
        color: red;
      }
    }
  }

  .send-button {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}